<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjy.mall.mapper.CsmdAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjy.mall.entity.CsmdAddress">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_id" property="userId" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="area_id" property="areaId" />
        <result column="address" property="address" />
        <result column="mobile" property="mobile" />
        <result column="is_default" property="isDefault" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
