<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjy.mall.mapper.CsmdUserAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjy.mall.entity.CsmdUserAccount">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="remain_amount" property="remainAmount" />
        <result column="total_amount" property="totalAmount" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="settlement_rate" property="settlementRate" />
        <result column="status" property="status" />
        <result column="share_url" property="shareUrl" />
    </resultMap>

</mapper>
