<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjy.mall.mapper.CsmdEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjy.mall.entity.CsmdEnterprise">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="describe" property="describe" />
        <result column="phone" property="phone" />
        <result column="back_photo" property="backPhoto" />
        <result column="logo_url" property="logoUrl" />
        <result column="share_url" property="shareUrl" />
        <result column="watching_star" property="watchingStar" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="authen_flag" property="authenFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

</mapper>
