<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjy.mall.mapper.CsmdBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjy.mall.entity.CsmdBrand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="pic_url" property="picUrl" />
        <result column="sort_order" property="sortOrder" />
        <result column="floor_price" property="floorPrice" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="share_url" property="shareUrl" />
        <result column="admin_id" property="adminId" />
        <result column="deleted" property="deleted" />
        <result column="commpany" property="commpany" />
        <result column="auto_update_good" property="autoUpdateGood" />
        <result column="shop_url" property="shopUrl" />
        <result column="default_category_id" property="defaultCategoryId" />
        <result column="default_pages" property="defaultPages" />
        <result column="add_precent" property="addPrecent" />
    </resultMap>

</mapper>
